/* Only for caseStudy Pages */

/*Main Image*/
.jumbotron {
    padding: 3rem 0 0 0;
    margin-bottom: 0rem;
    background-color: transparent;
    border-radius: .3rem;
}

.container {
    width: 100%;
		padding: 0;
		margin: 0;
}

.cs_container {
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  overflow-x: hidden;
  border-bottom: 1px dotted #ccc;
}

.cs_container .contents {
  padding: 4rem 6rem;
  -moz-align-self: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1680px) {
  .banner.style1 .content {
      padding: 5rem 5rem 3rem 5rem;
  }
}

.csHeader h3 {
    font-weight: 400;
}

.csBody p {
  font-size: 16px;
  line-height: 1.6;
}

/* My Role */
.role {
  font-size: 15px;
  text-align: center;
}

.roleBox_s {
  border: 1px solid #549509;
  width: 130px;
  padding: 8px 10px;
  border-radius: 15px;
  margin: 5px;
  float: left;
}

.roleBox_m {
  border: 1px solid #549509;
  width: 180px;
  padding: 8px 10px;
  border-radius: 15px;
  margin: 5px;
  float: left;
}

.roleBox_l {
  border: 1px solid #549509;
  width: 240px;
  padding: 8px 10px;
  border-radius: 15px;
  margin: 5px;
  float: left;
}

.dsRole .roleBox_m {
  border: 1px solid #264d87;
  background-color: #264d87;
  color: #fff;
}

.dsRole .roleBox_l {
  border: 1px solid #264d87;
  background-color: #264d87;
  color: #fff;
}

.rcRole .roleBox_s {
  border: 1px solid #549509;
  background-color: #549509;
  color: #fff;
}

.rcRole .roleBox_m {
  border: 1px solid #549509;
  background-color: #549509;
  color: #fff;
}

.rcRole .roleBox_l {
  border: 1px solid #549509;
  background-color: #549509;
  color: #fff;
}

.csBody .body_header {
  font-size: 17px;
  border-left: 10px solid #333;
  border-bottom: 1px dotted #333;
  padding: 0 0 0 8px;
  margin: 25px 0;
  font-weight: 400;
}

.csBody.dsBody .body_header {
  border-left: 10px solid #264d87 !important;
  border-bottom: 1px dotted #264d87;
}

.csBody.rcBody .body_header {
    border-left: 10px solid #53950a !important;
    border-bottom: 1px dotted #53950a;
}


/* problem & Solving */
.cs_image {
  margin-bottom: 4rem;
}

.imgBox {
  width: 70%;
}

.imgBox p {
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

.cs_image .imgBox img {
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  width: 100%;
}

.cs_image .imgBox img.pieChart {
  border: none;
  box-shadow: none !important;
}

.cs_description .title {
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 400;
    font-style: italic;
}

/* Button - See Other Projects */
.moreBtn {
    text-align: center;
}

.btn_more {
	box-shadow:inset 0px 1px 0px 0px #7ad12e;
	background:linear-gradient(to bottom, #93cc0e 5%, #41800e 100%);
	background-color:#93cc0e;
	border-radius:6px;
	border:1px solid #87c227;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #66a11e;
}
.btn_more:hover {
	background:linear-gradient(to bottom, #41800e 5%, #93cc0e 100%);
	background-color:#41800e;
  color: #fff;
}
.btn_more:active {
	position:relative;
	top:1px;
}

/* drsongapp */
.cs_image_w {
    width: 100%;
    display: inline-block;
}

.cs_image_w .imgBox {
    width: 40%;
    display: inline-table;
    margin: 10px 10px 35px 10px;
}

.cs_image_w .imgBox img {
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  width: 100%;
}

.csBody.dsBody p {
    margin-top: 10px;
}

.csBody p.solvingList {
  margin-top: 100px;
}

.cs_image_m {
    width: 100%;
    display: flex;
}

.cs_image_m .imgBox {
    width: 40%;
    margin: 10px 10px 35px 10px;
}

.cs_image_m .imgBox img {
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  width: 100%;
}

/*eResponse*/
.preImg img {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  width: 85%;
  padding: 10px;
}

.preImg p {
  font-size: 14px;
  font-style: italic;
}

.cs_image .imgBox.gifImg img {
  width: 80%;
}

.csBody p span.eRTitle {
  font-weight: 400;
  text-decoration: underline;
}

ul.li_description {
    font-size: 15px;
}

p.withLIst {
    margin-bottom: 5px;
}

/*Media query*/
@media (max-width: 576px) {
  	.jumbotron {
  			padding: 3rem 0 0 0;
  	}

  	.container, .container-sm {
  			max-width: 100%;
  		}

    .cs_image .imgBox {
      width: 100%;
    }

    .cs_container .contents {
      padding: .5rem .5rem !important;
			/*padding: 3.5rem 3.5rem !important;*/
		}
}

@media (min-width: 576px) {
  	.jumbotron {
  			padding: 3rem 0 0 0;
  	}

  	.container, .container-sm {
  			max-width: 100%;
  		}

    .cs_image .imgBox {
      width: 100%;
    }

    .cs_container .contents {
			padding: 3.5rem 3.5rem !important;
		}
}

@media (min-width: 768px) {
	.container {
			max-width: 100%;
	}

  .cs_image .imgBox {
    width: 85%;
  }
}

.mT130 {
  margin-top: 130px !important;
}

.mT100 {
  margin-top: 100px !important;
}

.mT0 {
  margin-top: 0px;
}

.mT25 {
  margin-top: 25px !important;
}

.mT150 {
  margin-top: 150px;
}
