/*only for Eunice's Portfolio*/
/*Contents
  01. Section 2 - Case Studies

*/

/* 01. Header and sub title */
div.smBody p span.sm_subT {
  font-weight: 400;
  color: #EC7B02;
}

.cs_image {
    margin-bottom: 0;
}

.cs_container .contents {
  padding: 40px 0px !important;
}

section.sm_container .contents div.csHeader {
  padding-top: 40px;
}
