/*only for Eunice's Portfolio*/
/*Contents
  01. commons
  02. Header
  03. Section 1 - Introduction Me
  04. Section 2 - Case Studies

*/

/* 01. Commons */

div.smBody p span.sm_subT {
  font-weight: 400;
  color: #EC7B02;
}

.cs_image {
    margin-bottom: 0;
}

