/*only for Eunice's Portfolio*/
/*Contents
  01. Section 2 - Case Studies

*/

/* 01. Header and sub title */
div.smBody p span.sm_subT {
  font-weight: 400;
  color: #EC7B02;
}

.cs_image {
    margin-bottom: 0;
}

.cs_container .contents {
  padding: 40px 0px !important;
}

section.sm_container .contents div.csHeader {
  padding-top: 40px;
}

section.sm_container div.smHeader {
  padding-top: 80px !important;
}

div.smHeader h3 {
  border-left: 15px solid #53950a !important;
  border-bottom: 1px dotted #53950a;
  padding-left: 15px;
}

div.smBody span.subH {
  font-weight: 500;
  margin-bottom: 0;
  border-bottom: 1px solid #969696;
}

div.smBody div.body_header {
  margin-top: 70px;
}

div.smBody p.criteriaT {
  margin-bottom: 10px;
  font-weight: 400;
}

div.smBody p span.subT {
  font-weight: 400;
}

div.smBody p.criteriaT {
  margin-bottom: 0!important;
}

div.smBody ui.smList li {
  display: inline-block;
}
